@{
  Layout = "_Layout";
}

@model Factory.Models.Machine

<h4><span class="label">Edit this Machine</span>: @Html.DisplayFor(model => model.Model)</h4>
<br>
@using (Html.BeginForm())
{
  @Html.HiddenFor(model => model.MachineId)
  @Html.LabelFor(model => model.Model)
  @Html.EditorFor(model => model.Model)
  <br>
  <br>
  @Html.LabelFor(model => model.Make)
  @Html.EditorFor(model => model.Make)
  <br>
  <br>
  <input type="submit" value="Save Changes" />
}
<br>
<br>
<p>@Html.ActionLink("Back to List", "Index")</p>