@{
  Layout = "_Layout";
}

@model Factory.Models.Engineer

<h4><span class="label">Add a Machine to this Engineer</span>: @Html.DisplayFor(model => model.Name)</h4>
<br>
<br>
@using (Html.BeginForm())
{
  @Html.HiddenFor(model => model.EngineerId)

  @Html.Label("Select Machine")
  @Html.DropDownList("MachineId")

  <input type="submit" value="Save" />
}
<br>
<br>
<p>@Html.ActionLink("Back to Engineer", "Details", new { id = Model.EngineerId } )</p>
<p>@Html.ActionLink("Back to Engineer portal", "Index")</p>